@import "tailwindcss";
@import '@fontsource/press-start-2p';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes pixel-glow {
  0%, 100% {
    filter: drop-shadow(0 0 2px #ffd700) drop-shadow(0 0 4px #ffc107);
  }
  50% {
    filter: drop-shadow(0 0 5px #ffd700) drop-shadow(0 0 10px #ffc107);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
